@{
    Layout = null;
}
@model MerchantTribeStore.Models.BreadCrumbViewModel
<div class="breadcrumbs">
    <div class="links">
        @if (Model.HideHomeLink == false)
        {
            <text><a href="@Url.Content("~")">Home</a>@Html.Raw(Model.Spacer)</text>
        }           
        @while (Model.Items.Count > 0)
        {
            var item = Model.Items.Dequeue();
            if (item.Link == string.Empty)
            {
                <span class="current">@item.Name</span>
            }
            else
            {
                <a href="@item.Link" title="@item.Title">@item.Name</a>    
            }
            
            if (Model.Items.Count != 0)
            {
                @Html.Raw(Model.Spacer);
            }
        }
    </div>
</div>
