@using MerchantTribeStore
@model MerchantTribeStore.Areas.AdminContent.Models.FileManagerViewModel

@{
    ViewBag.Title = "File Manager";
    Layout = "~/Views/Shared/_AdminLayoutWithNav.cshtml";
}
@section nav {    
    <div class="controlarea1">
    <form action="@Url.Content("~/bvadmin/content/filemanager/upload")" method="post" enctype="multipart/form-data">
        <h3>Upload Files</h3>
        <input type="file" size="10" name="postedfile" /><br />        
        <input type="image" src="../images/buttons/upload.png" alt="Upload File" />
        <input type="hidden" name="path" value="@Model.Path" />
    </form>
    </div>
    <div class="controlarea1">
    <form action="@Url.Content("~/bvadmin/content/filemanager/createdirectory")" method="post">
        <h3>Add New Directory</h3>
        <input type="text" name="newdirectoryname" size="20" />
        <input type="image" src="../images/buttons/submit.png" alt="Add New Directory" />
    </form>
    </div>
}
<h1>File Manager</h1>
@Html.Partial("~/views/BreadCrumb/BreadCrumb.cshtml", Model.BreadCrumbs)
<hr />
<table width="100%" class="liststyle1">
@if (Model.AllowParentPath)
{
<tr>
    <td style="width:32px;">ICON</td>
    <td class="listitem"><a href="@Url.Content("~/bvadmin/content/filemanager?path=" + Model.ParentPath)">&laquo; Up One Level</a></td>
    <td class="listitem" style="width:50px;">&nbsp;</td>
    <td class="listitem" style="width:50px;">&nbsp;</td>
</tr>
}
@foreach (string d in Model.Directories)
{
    <tr>
        <td style="width:32px;">ICON</td>
        <td class="listitem"><a href="@Url.Content("~/bvadmin/content/filemanager?path=" + Model.ChildPath(d))">@d</a></td>
        <td class="listitem" style="width:50px;">&nbsp;</td>
        <td class="listitem" style="width:50px;">TRASH</td>
    </tr>
}
@foreach (string f in Model.Files)
{
    <tr>
        <td style="width:32px;"><img src="@Url.Content(Html.FileIconUrl(@f))"  class="shadowed" alt="@f" /></td>
        <td class="listitem">@f</td>
        <td class="listitem" style="width:50px;">EDIT</td>
        <td class="listitem" style="width:50px;">TRASH</td>
    </tr>
}
</table>
