@{
    ViewBag.Title = "Super User Home";
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}
<h1>Super User Home</h1>
    <table class="formtable">
    <tr>
        <td class="formlable">Active Stores:</td>
        <td class="formfield">@Html.Raw((string)ViewData["ActiveStores"])</td>
    </tr>
    <tr>    
        <td class="formlable">Free Stores:</td>
        <td class="formfield">@Html.Raw((string)ViewData["FreeStores"])</td>
    </tr>
    <tr>
        <td class="formlable">Paid Stores:</td>
        <td class="formfield">@Html.Raw((string)ViewData["PaidStores"])</td>
    </tr>
    <tr>
        <td class="formlable">Products:</td>
        <td class="formfield">@Html.Raw((string)ViewData["Products"])</td>
    </tr>
    <tr>
        <td class="formlable">Sales Volume:</td>
        <td class="formfield">@Html.Raw((string)ViewData["SalesVolume"])</td>
    </tr>
</table>
