@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MerchantTribeStore.Models

@Html.Action("ManualTrail", "BreadCrumb", new { area = "", extras = (List<BreadCrumbItem>)ViewBag.ExtraCrumbs })

<h1><span>@ViewBag.Title</span></h1>
@Html.Raw((string)TempData["messages"])            
<form action="@Html.Raw(ViewBag.PostBackUrl)" method="post">
    <p>
        This form will generate a new random password for your account. You will receive
        an email with your new password.</p>
    &nbsp;
    <p>
    Email: <input type="text" name="email" value="@ViewBag.Email" class="forminput" size="30" />
    </p>
    &nbsp;
    <p>
        <a href="@Html.Raw(ViewBag.CloseUrl)" alt="Continue">Continue</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" src="@Html.Raw(ViewBag.SendButtonUrl)" alt="Send Reminder" />
    </p>&nbsp;<br />
</form>    