@{
    Layout = null;
}
@model MerchantTribeStore.Models.SingleProductViewModel

<div class="record">                            
    <div class="recordsku">
        <a href="@Model.ProductLink">@Model.Item.Sku</a>
    </div>
    <div class="recordname">
        <a href="@Model.ProductLink">@Model.Item.ProductName</a>
    </div>
    <div class="recordprice">
        <a href="@Model.ProductLink">@Html.Raw(Model.UserPrice.DisplayPrice(true))</a>
    </div>
</div>