@{
    Layout = null;
}
@model MerchantTribeStore.Areas.ContentBlocks.Models.BannerAdViewModel

@if (Model.LinkUrl.Trim().Length > 0)
{    
    <a href="@Html.Raw(Model.LinkUrl)" title="@Model.AltText" id="@Model.CssId" class="@Model.CssClass">
    <img src="@Html.Raw(Model.ImageUrl)" alt="@Model.AltText" />
    </a>
}
else
{
    <span id="@Model.CssId" class="@Model.CssClass">
    <img src="@Html.Raw(Model.ImageUrl)" alt="@Model.AltText" />
    </span>
}