@model MerchantTribeStore.Models.CheckoutViewModel
@using MerchantTribeStore.Models;
<div class="checkout" id="paypalexpresscheckout">
    <h1>
        PayPal Express Checkout</h1>
    <div class="section-sidebar">
        @Html.Action("Index", "ContentColumn", new { id = "601" })
    </div>
    <div class="sections">
        <form action="@Url.Content("~/paypalexpresscheckout/edit")" method="post">
        <div class="section-shipping">
            <h2>
                Ship To:</h2>
            <table width="300" cellpadding="4" cellspacing="0">
                <tr>
                    <td class="formlabel">
                        Country:
                    </td>
                    <td class="formfield">
                        @Model.CurrentOrder.ShippingAddress.CountryData.Name
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">
                        First, MI:&nbsp;
                    </td>
                    <td class="formfield">
                        @Model.CurrentOrder.ShippingAddress.FirstName
                        @Model.CurrentOrder.ShippingAddress.MiddleInitial
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">
                        Last:
                    </td>
                    <td class="formfield">
                        @Model.CurrentOrder.ShippingAddress.LastName
                    </td>
                </tr>
                @if (Model.CurrentOrder.ShippingAddress.Company.Trim().Length > 0)
                {
                    <tr>
                        <td class="formlabel">
                            Company:
                        </td>
                        <td class="formfield">
                            @Model.CurrentOrder.ShippingAddress.Company
                        </td>
                    </tr>
                }
                <tr>
                    <td class="formlabel">
                        Address:
                    </td>
                    <td class="formfield">
                        @Model.CurrentOrder.ShippingAddress.Line1
                    </td>
                </tr>
                @if (Model.CurrentOrder.ShippingAddress.Line2.Trim().Length > 0)
                {
                    <tr>
                        <td class="formlabel">
                            &nbsp;
                        </td>
                        <td class="formfield">
                            @Model.CurrentOrder.ShippingAddress.Line2
                        </td>
                    </tr>
                }
                <tr>
                    <td class="formlabel">
                        City:
                    </td>
                    <td class="formfield">
                        @Model.CurrentOrder.ShippingAddress.City
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">
                        State, Zip:&nbsp;
                    </td>
                    <td class="formfield">
                        @Model.CurrentOrder.ShippingAddress.RegionData.Name,
                        @Model.CurrentOrder.ShippingAddress.PostalCode
                    </td>
                </tr>
                @if (Model.CurrentOrder.UserEmail.Trim().Length > 0)
                {
                    <tr>
                        <td class="formlabel">
                            E-mail:
                        </td>
                        <td class="formfield">
                            @Model.CurrentOrder.UserEmail
                        </td>
                    </tr>
                }
                @if (Model.CurrentOrder.ShippingAddress.Phone.Trim().Length > 0)
                {
                    <tr>
                        <td class="formlabel">
                            Phone:
                        </td>
                        <td class="formfield">
                            @Model.CurrentCustomer.ShippingAddress.Phone
                        </td>
                    </tr>
                }
                <tr>
                    <td class="formlabel">
                        Paypal Address Status:
                    </td>
                    <td class="formfield">
                        @ViewBag.AddressStatus
                    </td>
                </tr>
                @if (ViewBag.HideEditButton == null ||
                 ViewBag.HideEditButton != true)
                {
                    <tr>
                        <td colspan="2">
                            <input type="image" src="@Model.ButtonLoginUrl" alt="Edit Address" />                            
                        </td>
                    </tr>
                }
            </table>
        </div>
        </form>
        <form action="@Url.Content("~/paypalexpresscheckout")" method="post">
        <div class="section-delivery">
            <h2>
                Shipping</h2>
            <div id="lstShipping">
                @Html.Raw(ViewBag.ShippingRates)
            </div>
        </div>
        <div class="section-actions">
            @if (Model.ShowAgreeToTerms)
            {
                <input type="checkbox" id="agreed" name="agreed" @if (Model.AgreedToTerms)
                                                                 { <text>checked="checked"</text> } />
                @Model.AgreedToTermsDescription
                <p>
                    <a href="@Url.Content("~/policies/terms")" class="viewSiteTerms">View @Model.LabelTerms</a></p>
            }
            @if (ViewBag.HideCheckout == null || ViewBag.HideCheckout == false)
            {
    
                <input type="image" id="btnsubmit" alt="Place Order" src="@Model.ButtonCheckoutUrl" tabindex="3001" />            
            
            }
        </div>
        </form>
        <div class="clear">
            &nbsp;</div>
        <a href="@Url.Content("~/cart")">
            <img src="@Model.ButtonCancelUrl" alt="Continue Shopping" />
        </a>
    </div>
</div>
