@model MerchantTribeStore.Models.ProductReviewsViewModel
                                            
    @Html.Partial("~/views/products/RenderSingleProduct.cshtml", Model.ProductView)    
    <h1>Reviews: @Model.ProductView.Item.ProductName</h1>
    <div class="ProductReviewRating">
        @ViewBag.AvgLabel <img src="@ViewBag.AvgImage" alt="Average Rating @ViewBag.Avg" />        
    </div>
    @foreach (var review in Model.Reviews)
    {
        @Html.Partial("~/Views/ProductReviews/_SingleReview.cshtml", review)
    }
    <div class="clear"></div>