@{
    Layout = null;
}
@model MerchantTribeStore.Areas.ContentBlocks.Models.SideMenuViewModel
<div class="sidemenu">
    <div class="decoratedblock">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h4>@Model.Title</h4>
        }
        <ul>
            @foreach (var item in Model.Items)
            {
                <li><a href="@item.Url" class="@item.CssClass" title="@item.Title"
                @if (item.OpenInNewWindow)
                {
                    <text>target="_blank"</text>
                }
                >@item.Name</a></li>   
            }
        </ul>        
    </div>
</div>
