@model MerchantTribe.Commerce.Content.Policy           
@Html.Partial("~/Views/BreadCrumb/BreadCrumb.cshtml", (object)ViewBag.BreadCrumbTrail)
<h1 id="top">
    @ViewBag.Title
</h1>
@TempData["messages"]
<ol id="faquestions">
    @foreach (var item in Model.Blocks)
    {
        <li><a href="#@item.Bvin">
            @Html.Raw(item.Name)
        </a></li>
    }
</ol>
<h2>
    Answers...</h2>
<ol id="faanswers">
    @foreach (var item in Model.Blocks)
    {
        <li>
            <h3 id="@item.Bvin">
                @Html.Raw(item.Name)
            </h3>
            @Html.Raw(item.Description)
            <p>
                <small><a id="backToTop" href="#top">Back to Top</a></small></p>
        </li>
    }
</ol>
