@model MerchantTribe.Commerce.Content.Policy
@using MerchantTribe.Commerce.Content;
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

@section HeadContent
{
    <meta name="keywords" content="@Model.Title" />
    <meta name="description" content="@Model.Title" />
}
<h1>@Model.Title</h1>
@foreach (PolicyBlock b in Model.Blocks)
{
    if (b.Name.Trim().Length > 0)
    {
        <h2>@b.Name</h2>
    }
    @Html.Raw(b.Description)
}
<div class="popupcontrols">

</div>