@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="navcolumn">
    <div class="sidemenu">
        <ul>
            <li><a href="@Url.Content("~/account")">Orders</a></li>
            <li><a href="@Url.Content("~/account/saveditems")">Saved Items</a></li>
            <li><a href="@Url.Content("~/account/addressbook")">Address Book</a></li>
            <li><a href="@Url.Content("~/account/management/changepassword")">Change Password</a></li>
            <li><a href="@Url.Content("~/account/management/changeemail")">Change Email</a></li>
            <li><a href="@Url.Content("~/signout")">Sign Out</a></li>
        </ul>
    </div>
    &nbsp;<br />
</div>
<div id="maincolumn">
    @RenderBody()
</div>
<div class="clear"></div>
