@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
    <link href="@Url.Content("~/content/Signup2.css?v=9")" rel="stylesheet" type="text/css" />
    @Html.Raw((string)ViewData["jqueryinclude"])    
    @RenderSection("HeadContent", false)
    <link href='http://fonts.googleapis.com/css?family=Actor|Droid+Sans:400,700|Bevan' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="site-wrapper">
    <div id="header">
        <div id="logo-area">
            <a href="http://MerchantTribe.com/" title="MerchantTribe.com">
                <img src="http://MerchantTribe.com/images/sites/1/storelogo/2/logo/brand.png" alt="MerchantTribe.com" />
            </a>
        </div>
        <div id="links-area">
            <ul>
                <li><a class="homelink" href="http://MerchantTribe.com"><span>Main Site</span></a></li>
            </ul>
        </div>                
    </div>
    
    <div id="main-content">        
        <div class="padded">
            @RenderBody()
        </div>
    </div>
     <div id="footer">
         <span class="copyright">Copyright &copy; 2002-@DateTime.Now.Year</span> BV Software LLC | <a href="http://MerchantTribe.com/SiteMap"><span>SiteMap</span></a> <span class="bvtag"><a href="http://www.MerchantTribe.com" title="Free Open Source Shopping Cart Software" target="_blank">Shopping Cart Software by MerchantTribe</a></span>
    </div>    
    

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("@ViewBag.SignUpGoogleId");
            pageTracker._trackPageview();
        } catch (err) { }</script>


</div> <!-- End Site Wrapper -->
<!-- Start of HubSpot Logging Code  -->
<script type="text/javascript" language="javascript">
    var hs_portalid = 149548;
    var hs_salog_version = "2.00";
    var hs_ppa = "merchanttribe.app12.hubspot.com";
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- End of HubSpot Logging Code -->
@RenderSection("EndOfPage", false)
</body>
</html>