<div class="block">            
    <ul class="GraphicalList">
        <li><a href="@Url.Content("~/signup/tour")" title="Setting Up Your Store">Building a Store</a></li>                
        <li><a href="@Url.Content("~/signup/design")" title="Creating Your Theme">Creating Your Design</a></li>                                
        <li><a href="@Url.Content("~/signup/sell")" title="Selling Your Products">Selling Your Products</a></li>
        <li><a href="@Url.Content("~/signup/promote")" title="Tracking and Promoting">Tracking and Promoting</a>
        <br />&nbsp;</li>                
        <li><a href="@Url.Content("~/signup/secure")" title="Security and Hosting">All About Hosting</a></li>                
        <li><a href="@Url.Content("~/signup/about")" title="About MerchantTribe">About Us</a></li>
        <li><a href="@Url.Content("~/signup/features")" title="MerchantTribe Feature List">Feature List</a><br />&nbsp;</li>
        <li><a href="@Url.Content("~/signup")" title="Pricing & Sign Up">Pricing &amp; Sign Up</a></li>                
    </ul>            
</div>