@{
    Layout = null;
}
@model MerchantTribeStore.Models.SingleCategoryViewModel
<div class="categoryrotator">    
    <div class="decoratedblock">
        <div class="blockcontent">
          <a href="@Model.LinkUrl" title="@Model.AltText">
              <img src="@Model.IconUrl" alt="@Model.AltText" /><br />
              <span>@Model.Name</span>
          </a>
        </div>
    </div>
</div>           

