@model MerchantTribeStore.Models.CategoryPageViewModel
@Html.Action("CategoryTrail", "BreadCrumb", new { cat = Model.LocalCategory })
<div id="categoryleft">
    @Html.Action("Index", "ContentColumn", new {id="4"})
</div>
<div id="categorymain">
    @if (Model.LocalCategory.ShowTitle)
    {
        <h1>@Model.LocalCategory.Name</h1>
    }
    @Html.Action("Index", "ContentColumn", new {id=Model.LocalCategory.PreContentColumnId})
    @if (ViewBag.ShowBanner == true)
    {
        <div id="categorybanner">
            <img src="@ViewBag.BannerUrl" alt="@Model.LocalCategory.Name" />
        </div>
    }    
    @if (((string)ViewBag.DisplayHtml).Length > 0)
    {        
        <div id="categorydescription">
            @Html.Raw(ViewBag.DisplayHtml)
        </div>
    }
    <div class="categorydetailedlisttemplate">            
        @Html.Partial("~/Views/Shared/_Pager.cshtml", Model.PagerData)
        <div class="categorydetailedlisttemplaterecords">            
            @foreach (var item in Model.Products)
            {
                @Html.Partial("~/Views/Products/RenderSingleProductDetailed.cshtml", item)
            } 
            <div class="clear"></div>           
        </div>
        @Html.Partial("~/Views/Shared/_Pager.cshtml", Model.PagerData)
    </div>
    @Html.Action("Index", "ContentColumn", new { id = Model.LocalCategory.PostContentColumnId })        
</div>
<div class="clear"></div>