@model MerchantTribeStore.Models.CheckoutAddressViewModel
           
<table border="0" cellspacing="0" cellpadding="3" class="address-table">
            <tr>
                <td class="formlabel">&nbsp;</td>
                <td class="formfield"><select id="@(Model.Prefix + "countryname")" name="@(Model.Prefix + "countryname")" tabindex="@(Model.TabIndex + 1)">
                                        @foreach (var c in Model.Countries)
                                        {
                                            if (Model.Address.CountryBvin == c.Bvin)
                                            {
                                                <option value="@c.Bvin" selected="selected">@c.DisplayName</option>      
                                            }
                                            else
                                            {
                                                <option value="@c.Bvin">@c.DisplayName</option>      
                                            }
                                        }
                                      </select></td>
            </tr>
            <tr>
                <td class="formlabel">First Name:</td>
                <td class="formfield"><input type="text" id="@(Model.Prefix + "firstname")" name="@(Model.Prefix + "firstname")"
                                        size="20" tabindex="@(Model.TabIndex + 2)"
                                        value="@Model.Address.FirstName"
                                        class="@Model.IsErr("firstname")" />
                                        <span class="requiredfield">*</span></td>
            </tr>
            <tr>
                <td class="formlabel">Last Name:</td>
                <td class="formfield"><input type="text" id="@(Model.Prefix + "lastname")" name="@(Model.Prefix + "lastname")"
                                        size="20" tabindex="@(Model.TabIndex + 3)"
                                        value="@Model.Address.LastName"
                                        class="@Model.IsErr("lastname")" />
                                        <span class="requiredfield">*</span></td>
            </tr>
            <tr>
                <td class="formlabel">Company:</td>
                <td class="formfield"><input type="text" id="@(Model.Prefix + "company")" name="@(Model.Prefix + "company")"
                                        size="20" tabindex="@(Model.TabIndex + 4)"
                                        value="@Model.Address.Company"
                                        class="@Model.IsErr("company")" /></td>
            </tr>
            <tr>
                <td class="formlabel">Address:</td>
                <td class="formfield"><input type="text" id="@(Model.Prefix + "address")" name="@(Model.Prefix + "address")"
                                       size="20" tabindex="@(Model.TabIndex + 5)"
                                       value="@Model.Address.Line1"
                                       class="@Model.IsErr("address")" />
                                       <span class="requiredfield">*</span></td>
            </tr>
            <tr>
                <td class="formlabel">City:</td>
                <td class="formfield"><input type="text" id="@(Model.Prefix + "city")" name="@(Model.Prefix + "city")"
                                        size="20" tabindex="@(Model.TabIndex + 6)" 
                                        value="@Model.Address.City"
                                        class="@Model.IsErr("city")" />
                                        <span class="requiredfield">*</span></td>
            </tr>
            <tr>
                <td class="formlabel">State:</td>
                <td class="formfield"><select id="@(Model.Prefix + "state")" name="@(Model.Prefix + "state")" tabindex="@(Model.TabIndex + 7)" /></td>
            </tr>
            <tr>
                <td class="formlabel">Postal Code:</td>
                <td class="formfield"><input type="text" id="@(Model.Prefix + "zip")" name="@(Model.Prefix + "zip")" 
                                        size="10" tabindex="@(Model.TabIndex + 8)"                                        
                                        value="@Model.Address.PostalCode" 
                                        class="@Model.IsErr("zip")" />
                                        <span class="requiredfield">*</span></td>
            </tr>
            <tr>
                <td class="formlabel">Phone:</td>
                <td class="formfield"><input type="text" id="@(Model.Prefix + "phone")" name="@(Model.Prefix + "phone")" 
                                        value="@Model.Address.Phone"
                                        size="20" tabindex="@(Model.TabIndex + 9)"
                                        class="@Model.IsErr("phone")" /></td>
            </tr>
            </table>
            <input type="hidden" id="@(Model.Prefix + "addressbvin")" name="@(Model.Prefix + "addressbvin")" value="@Model.Address.Bvin" />