@model MerchantTribeStore.Models.CheckoutViewModel
@{
    Layout = null;
}

<table border="0" cellspacing="0" cellpadding="3" width="100%">
    @if (Model.PaymentViewModel.NoPaymentNeeded)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="nopayment" name="paymethod" checked="checked"/>
           </td>
            <td>@Model.PaymentViewModel.NoPaymentNeededDescription</td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsCreditCardActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="creditcard" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "creditcard")
                { <text>checked="checked"</text> }/>
                </td>
            <td>Credit Card
                @Html.Partial("_CreditCardInput", Model)
            </td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsPayPalActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="paypal" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "paypal")
                { <text>checked="checked"</text> }/></td>
            <td><img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px;">
            <span style="font-size:11px; font-family: Arial, Verdana;">Save time.  Checkout securely.<br /> 
            Pay without sharing your financial information.</span></td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsPurchaseOrderActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="purchaseorder" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "purchaseorder")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.PurchaseOrderDescription #: 
            <input type="text" name="ponumber" size="10" 
            value="@Model.PaymentViewModel.DataPurchaseOrderNumber" 
            class="@Model.IsErr("purchaseorder")" /></td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsCompanyAccountActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="companyaccount" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "companyaccount")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.CompanyAccountDescription #: 
            <input type="text" name="accountnumber" size="10" 
            value="@Model.PaymentViewModel.DataCompanyAccountNumber" 
            class="@Model.IsErr("accountnumber")" /></td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsCheckActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="check" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "check")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.CheckDescription</td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsTelephoneActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="telephone" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "telephone")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.TelephoneDescription</td>
        </tr>
    }
    @if (Model.PaymentViewModel.IsCodActive)
    {
        <tr>
            <td valign="top" class="radiobuttoncol">
                <input type="radio" value="cod" name="paymethod" 
                @if (Model.PaymentViewModel.SelectedPayment == "cod")
                { <text>checked="checked"</text> }/></td>
            <td>@Model.PaymentViewModel.CodDescription</td>
        </tr>
    }
</table>
