@model MerchantTribeStore.Models.CheckoutViewModel
@using MerchantTribeStore.Models;           
@section HeadContent{
    <script type="text/javascript" src="@Url.Content("~/js/checkout.js")" ></script>
}
<div class="checkout">
    @Html.Raw((string)TempData["messages"])
    <h1>
        Checkout</h1>
    <div class="section-sidebar">
        @Html.Action("Index", "ContentColumn", new { id = "601" })
    </div>
    <div class="sections">
        <form action="@Url.Content("~/checkout")" method="post">
        <div class="section-email">
            <h2>
                Email Address</h2>
            <input type="text" id="customeremail" name="customeremail"
                   tabindex="100" size="50" value="@Model.CurrentOrder.UserEmail" /><span class="requiredfield">*</span><br />
            <div id="loginform">                
                @if (Model.IsLoggedIn)
                {
                    <p>You are logged into your account. Thank You.</p>
                }
                else
                {
                    <div id="login-changing" style="display: none;">
                        <img src="@Url.Content("~/content/images/system/ajax-loader-small.gif")" border="0" alt="Loading..." /> Please Wait...
                    </div>
                    <p id="loginmessage">It looks like you have an account already. Please login:</p>                    
                    <table id="loginformtable" cellspacing="0" cellpadding="3">
                        <tr>
                            <td class="formlabel">
                                Password:
                            </td>
                            <td class="formfield">
                                <input id="customerpassword" type="password" class="forminput required" title="Enter Your Password" tabindex="151"
                                    name="password" value="">
                            </td>
                        </tr>
                        <tr>
                            <td class="formlabel">
                                &nbsp;
                            </td>
                            <td class="formfield">
                                <a id="loginbutton" href="#" tabindex="152"><img alt="Login" src="@Model.ButtonLoginUrl"  /></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="formlabel">
                            </td>
                            <td>
                                <a href="@Url.Content("~/account/forgotpassword/" + (Model.CurrentOrder.UserEmail ?? ".") + "/1")" tabindex="153" class="BVSmallText forgot">
                                    Forgot Your Password? Click Here.</a>
                            </td>
                        </tr>
                    </table>                    
                }
            </div>
            &nbsp;
        </div>
        <div class="section-shipping">
            <h2>
                Shipping Address</h2>
            @Html.Partial("_CheckoutAddress", new CheckoutAddressViewModel()
       {
           Address = Model.CurrentOrder.ShippingAddress,
           Prefix = "shipping",
           TabIndex = 200,
           ShowPhone = true,
           Countries = Model.Countries,
           Violations = Model.Violations
       })
                                                    
            <input type="hidden" id="tempshippingregion" value="@Model.CurrentOrder.ShippingAddress.RegionBvin" />
        </div>
        <div class="section-delivery">
            <h2>
                Delivery Options</h2>            
            <div id="lstShipping"></div>
            <span class="shipping-changing" style="display: none;">
                <img src="@Url.Content("~/content/images/system/ajax-loader-small.gif")" border="0" alt="Loading..." />
            </span>
            <div id="shipping-not-valid">Enter a shipping address first</div>
            <div id="shipping-needs-refresh"></div>                    
        </div>
        <div class="section-billing">
            <h2>
                Billing Address</h2>
            <input type="checkbox" id="chkbillsame" name="chkbillsame" @if (Model.BillShipSame)
                                                                       { <text> checked="checked"</text> } tabindex="400" />
            My billing address is the same as my shipping address
            <div id="billingwrapper">
                @Html.Partial("_CheckoutAddress", new CheckoutAddressViewModel()
           {
               Address = Model.CurrentOrder.BillingAddress,
               Prefix = "billing",
               TabIndex = 450,
               ShowPhone = false,
               Countries = Model.Countries,
               Violations = Model.Violations
           })
                <input type="hidden" id="tempbillingregion" value="@Model.CurrentOrder.BillingAddress.RegionBvin" />
            </div>
        </div>
        
        @if (Model.ShowRewards)
        {
        <div id="pnlRewardsPoints">
            <div class="section-payment">                
                    <h2>@Model.LabelRewardPoints</h2>
                    @Model.RewardPointsAvailable<br />
                    <input type="radio" @if (!Model.UseRewardsPoints)
                                        { <text>checked="checked"</text> } name="userewardspoints" title="Do Not Use Points" value="0" /> Do Not Use Points<br />                    
                    <input type="radio" @if (Model.UseRewardsPoints)
                                        { <text>checked="checked"</text> } name="userewardspoints" title="Use Points" value="1" /> @Model.LabelRewardsUse<br />                                        
            </div>
        </div>
        }
        
        <div class="section-payment">
            <h2>Payment Method</h2>
            @Html.Partial("DisplayPaymentMethods", Model)
        </div>
        <div class="section-extras">
            <h2>
                Special Instructions</h2>
            <textarea id="specialinstructions" name="specialinstructions" cols="80" rows="4"
                tabindex="600">@Model.CurrentOrder.Instructions</textarea>
        </div>
        <div class="section-actions">
            @if (Model.ShowAgreeToTerms)
            {
                <input type="checkbox" id="agreed" name="agreed" @if (Model.AgreedToTerms)
                                                                 { <text>checked="checked"</text> } />
                @Model.AgreedToTermsDescription
                <p><a href="@Url.Content("~/policies/terms")" class="viewSiteTerms">View @Model.LabelTerms</a></p>
            }            
            <input type="image" id="btnsubmit" alt="Place Order" src="@Model.ButtonCheckoutUrl" tabindex="3001" />                        
        </div>
        <div class="section-totals">
            <h2>
                Order Summary</h2>
            <div id="totalsastable">
                @Html.Raw(Model.CurrentOrder.TotalsAsTable())
            </div>
        </div>
        <div class="section-cart">
            @Html.Partial("_ViewOrderItems", Model.CurrentOrder.Items)
        </div>
        </form>
    </div>
    <div class="clear">
        &nbsp;</div>
</div>
<input type="hidden" id="orderbvin" name="orderbvin" value="@Model.CurrentOrder.bvin" />
<div class="modal">
    <div class="popoverframe">
        <iframe id="popoverpage"></iframe>
        <br />
        <a id="dialogclose" href="#">Close</a>
    </div>
</div>
