@section HeadContent
{
    <script type="text/javascript" src="@Url.Content("~/js/receipt.js")" ></script>
}

<h1>Thank You! Order Received.</h1>
@Html.Partial("_SetFirstPassword")
@if (ViewBag.AcumaticaOrder != null)
{
    @Html.Partial("_ViewOrderAcumatica")
}
else
{
    @Html.Partial("_ViewOrder", (MerchantTribe.Commerce.Orders.Order)ViewBag.Order)
}
@{
    var o = (MerchantTribe.Commerce.Orders.Order)ViewBag.Order;
    var Grand = o.TotalGrand.ToString();
}
@section PreBodyCloseContent
{
    @if (!(bool)ViewBag.HideAnalytics)
    {
    <script type="text/javascript">
        MerchantTribeAnalytics.EventCode = '2';
        MerchantTribeAnalytics.EventAmount = '@Grand';
        MerchantTribeAnalytics.EventDescription = '@o.OrderNumber';
    </script>
    }
}