@model MerchantTribeStore.Models.AddressViewModel
           
<table width="300" cellpadding="1" cellspacing="0">
        <tr>
            <td class="formlabel">
                Country:
            </td>
            <td class="formfield">
                @Html.EditorFor(model => model.CountryBvin)
                <!--<asp:DropDownList ID="lstCountry" TabIndex="101" runat="server" 
                    AutoPostBack="true" onselectedindexchanged="lstCountry_SelectedIndexChanged">
                </asp:DropDownList>--></td>
        </tr>
        <tr>
            <td class="formlabel">
                First:&nbsp;</td>
            <td class="formfield">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)                
            </td>
        </tr>
        <tr>
            <td class="formlabel">
                Last:
            </td>
            <td class="formfield">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)</td>
        </tr>
        <tr id="CompanyNameRow" runat="server">
            <td class="formlabel">
                Company:</td>
            <td class="formfield">
                @Html.EditorFor(model => model.Company)
                @Html.ValidationMessageFor(model => model.Company)
            </td>
        </tr>
        <tr>
            <td class="formlabel">
                Address:
            </td>
            <td class="formfield">
                @Html.EditorFor(model => model.Line1)    
                @Html.ValidationMessageFor(model => model.Line1)
            </td>
        </tr>
        <tr>
            <td class="formlabel">
                &nbsp;
            </td>
            <td class="formfield">
                @Html.EditorFor(model => model.Line2)    
            </td>
        </tr>
        <tr>
            <td class="formlabel">
                &nbsp;
            </td>
            <td class="formfield">
                @Html.EditorFor(model => model.Line3)                
            </td>
        </tr>
        <tr>
            <td class="formlabel">
                City:
            </td>
            <td class="formfield">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td class="formlabel">
                State, Zip:&nbsp;</td>
            <td class="formfield">
                @Html.EditorFor(model => model.RegionBvin)
                &nbsp;@Html.EditorFor(model => model.PostalCode)
                @Html.ValidationMessageFor(model => model.PostalCode)                
            </td>
        </tr>        
        <tr id="PhoneRow" runat="server">
            <td class="formlabel">
                Phone:
            </td>
            <td class="formfield">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(model => model.Bvin)
    @Html.HiddenFor(model => model.AddressType)
