@helper AddSecureRoot(string baseUrl)
{
    @ViewBag.RootUrlSecure<text>@baseUrl</text>
}
@helper StoreClosedLink()
{
    if (ViewBag.StoreClosed == true)
    {
           <a href="@AddSecureRoot("bvadmin/configuration/general.aspx")" class="red">              
             *** STORE IS CLOSED, SHOPPERS CAN'T SEE THIS PAGE ***</a>              
    }
}

@if (ViewBag.IsAdmin == true)
{
    <div id="adminpanel">                                       
       <a id="adminpanellogo" href="@AddSecureRoot("bvadmin")"><img src="@Url.Content("~/images/system/AdminPanelLogo.png")" alt="MerchantTribeStore" /></a>                            
       @StoreClosedLink()       
       <a href="@AddSecureRoot("bvadmin")" class="right">Go To Admin Dashboard</a>
    </div>
}
