@model MerchantTribe.Commerce.Orders.OrderPaymentSummary
<table class="controlarea1" style="margin-top: 8px; color: #666; font-size: 11px;"
    border="0" cellspacing="0" cellpadding="3" width="100%">
    <tr>
        <td colspan="2" class="formfield" style="border-bottom: solid 1px #999;">
            @Html.Raw(Model.PaymentsSummary)
        </td>
    </tr>
    <tr>
        <td class="formfield">
            Payment Received:
        </td>
        <td class="formlabel">
            @string.Format("{0:C}", Model.AmountCharged - Model.GiftCardAmount)
        </td>
    </tr>
    <tr>
        <td class="formfield">
            Gift Card Total:
        </td>
        <td class="formlabel">
            @Model.GiftCardAmount.ToString("C")
        </td>
    </tr>
    <tr>
        <td class="formfield">
            Total:
        </td>
        <td class="formlabel">
            @Model.TotalCredit.ToString("C")
        </td>
    </tr>
    <tr>
        <td class="formfield" style="border-bottom: solid 1px #999; padding-bottom: 3px;">
            Refunded:
        </td>
        <td class="formlabel" style="border-bottom: solid 1px #999; padding-bottom: 3px;">
            @Model.AmountRefunded.ToString("C")
        </td>
    </tr>
    <tr>
        <td class="formfield">
            Amount Due:
        </td>
        <td class="formlabel" style="color: #333;">
            <strong>@Model.AmountDue.ToString("C")</strong>
        </td>
    </tr>
</table>
