@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/system/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Html.Raw(ViewBag.Css)" rel="stylesheet" type="text/css" />        
    @Html.Raw(ViewBag.JqueryInclude)
    @if (IsSectionDefined("HeadContent"))
    {
        @RenderSection("HeadContent", false)
    }
</head>
<body id="pagebody">    
    <div id="popup-wrapper">
        <div id="main-content">
            @RenderBody()
        </div>
    </div>
    @RenderSection("EndOfForm", false)
</body>
</html>

