@model IEnumerable<MerchantTribe.Commerce.Orders.LineItem>

<table style="margin:20px 0; border-bottom: solid 1px #666;" width="100%" border="0">
<tr>
    <th>Item</th>
    <th>Shipping</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Line Total</th>
</tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.ProductSku<br />
            @item.ProductName<br />
            @if (item.LineTotal != item.LineTotalWithoutDiscounts)
            {
                <div class="discounts">@item.DiscountDetails</div>
            }            
            &nbsp;</td>
        <td>
            @item.ShippingStatusDescription
        </td>
        <td align="right">
            @item.BasePricePerItem.ToString("C")
        </td>
        <td align="center">@item.Quantity</td>
        <td align="right">
            @if (item.LineTotal != item.LineTotalWithoutDiscounts)
            {
                <strike>@item.LineTotalWithoutDiscounts.ToString("C")</strike><br />                   
            }
            @item.LineTotal.ToString("C")                
        </td>
    </tr>
}
</table>